<div class="app-dialog-content">
	<div class="card-title">
		<h2 mat-dialog-title>Direcciones Guardadas</h2>
	</div>
	<div class="card-content">
		<mat-dialog-content>
			<p>Usuario</p>
			<p>Direccion</p>
			<p>Departamento, provincia, distrito</p>
			<p>País</p>
		</mat-dialog-content>
	</div>
	<div class="card-actions" fxlayout="row wrap" fxLayoutAlign="end center">
		<mat-dialog-actions >
			<button mat-button (click)="onClose()" color="accent">Usar esta dirección</button>
		</mat-dialog-actions>
	</div>
</div>
